@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');

body {
    background-color: rgba(218, 226, 222, 0.1);
}

.grayBtn {
    background-color:rgb(71, 82, 87);

    &:hover {
        background-color:rgb(49, 57, 61);
    }

    &:focus {
        background-color:rgb(23, 27, 29);
    }
}

.tangerineBtn {
    background-color: rgb(255, 112, 67);

    &:hover {
        background-color: rgb(226, 97, 58);
    }

    &:focus {
        background-color: rgb(173, 68, 36);
    }
}

h1 {
    font-size: 3.56rem;
    font-family: 'Niconne', cursive;
    color: rgb(71, 82, 87);
}

.grocery-table {
    margin-bottom: 1.5rem;

    table {
        tr {
            border-bottom: 1px solid rgba(117, 117, 117, 0.1);

            button {
                margin: 5px 0 0 5px;
            }
        }

        thead tr {
            text-transform: uppercase;

            th:nth-child(4) {
                text-align: right;
            }
        }

        tbody tr {
            &:nth-child(even) {
                background-color: rgba(251, 233, 231, 0.3);
            }

            &:hover {
                background-color: rgb(251, 233, 231);
            }

            td:nth-child(4) {
                text-align: right;
            }

            &:not(td:nth-child(5)){
                text-transform: capitalize;
            }
        }

        label.checkbox {
            position: relative;
            top: 7px;
        }

        [type="checkbox"].filled-in {
            &:checked + span:not(.lever):after {
                border: 2px solid rgb(255, 112, 67);
                background-color: rgb(255, 112, 67);
            }

            &:not(:checked) + span:not(.lever):after {
                border: 2px solid rgb(117, 117, 117);
            }
        }
    }
}

.form-header h6 {
    text-transform: uppercase;
    line-height: 21.75px;
    font-size: 14.5px;
    font-weight: 700;
    margin: 0;
    padding: 15px;
}

.input-field > label {
    color: rgb(117, 117, 117);

    .material-icons {
        position: relative;
        top: 4px;
        font-size: 19px;
    }
}

input[type=text]:not(.browser-default), input[type=number]:not(.browser-default){
    border-bottom: 1px solid rgb(117, 117, 117);

    &:focus:not([read-only]){
        border-bottom: 1px solid rgb(255, 112, 67);
        box-shadow: 0 1px 0 0 rgb(255, 112, 67);

        & + label {
            color: rgb(255, 112, 67);
        }
    }
}

.dropdown-content {
    backface-visibility: hidden;
}

.dropdown-content li > span {
    color: rgb(255, 112, 67);
}

.errorInput {
    margin: 0;
}

.modalButton {
    margin-top: 1rem;

    button:first-child {
        margin-right: 5px;
    }
}

@media (max-width: 1024px) {
    .grocery-table {
        overflow-x: auto;
    }

    table {
        min-width: 750px;
    }
}
